<%= form_for(@organizacion) do |f| %>
  <% if @organizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizacion.errors.count, "error") %> prohibited this organizacion from being saved:</h2>

      <ul>
      <% @organizacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :nombre_corto %><br />
    <%= f.text_field :nombre_corto %>
  </div>
  <div class="field">
    <%= f.label :rif %><br />
    <%= f.text_field :rif %>
  </div>
  <div class="field">
    <%= f.label :tolda %><br />
	<%= f.collection_select :tolda_id, Tolda.all, :id, :nombre, {:prompt => '--Seleccione Tolda--'}%>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
	<%= f.collection_select :tipo_id, Tipo.all, :id, :nombre, {:prompt => '--Seleccione Tipo Organiozacion--'}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
