
<% if @mensaje %>
	<div class="alert <%= @tipo_alerta %>">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4>Mensaje:</h4>
	  <%= @mensaje %>
	</div>
<% end %>

<%= render :partial => 'resumenes_con_tema' %>
<%= render :partial => 'resumenes_sin_tema' %>


<div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Tema</h3>
  </div>
  <div class="modal-body">
    <%= render 'temas/form' %>
    
  </div>
</div>


<script type="text/javascript" charset="utf-8">
	function fusionar(id){
		// $("#"+id).hide();
		fusionar_resumenes_ids = $('.fusionar_resumenes_ids_').text
		$.post("/resumenes/fusionar?fusionar_resumenes_ids="+fusionar_resumenes_ids);
		// $.post("/resumenes/update/"+resumen_id+"?nota_id="+id+">");
		location.reload();
		return false;
	}
	$().button('toggle')
</script>

