<%= form_for @informe, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fecha, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :fecha, :class => 'date_select' %>
    </div>
  </div>
		
	<div class ="well">
      <%= f.text_area :resumen, :class => 'input-block-level', :data => {"spy" => "scroll", "target" => ".navbar"}%>

			<%= link_to "Agregar Nota", new_resumen_path, :id => "nota", :class => 'btn btn-mini btn-info right' %>
	</div>	

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                informes_path, :class => 'btn' %>
  </div>
<% end %>

