
<% if @resumenes_sin_tema.count > 0 %>
<h3>Resumenes No Agregados</h3>
	<div class ="well">
		<table border="0" cellspacing="5" cellpadding="5">
			<tr><td>
				<ul>
					<li style = 'display:block;'>
						
						<% @resumenes_sin_tema.each do |resumen| %>
							<div id="<%= resumen.id %>">

								<dd style="text-align:justify;"><strong><%= resumen.vocero.nombre %>: </strong>
								<%= resumen.contenido %>
								<%- if resumen.notas %>
									<%- resumen.notas.each do |nota| -%>
										| <%= link_to nota.website.descripcion, nota.url, {:class => 'btn btn-link', :target => '_blank'} %>
									<% end %>
								<% end %>								
								</dd>
								<%= link_to t('.edit', :default => t("helpers.links.edit")),{:controller => 'wizard', :action => "paso2/#{resumen.id}"}, {:class => 'btn btn-mini'} %>
								<div style = "text-align: right;background-color: #ddd; padding: 5px;">
									<%= form_for resumen, :url=>{:action => "agregar/#{resumen.id}"} do |f| %>
										<%= f.grouped_collection_select :tema_id, Asunto.all, :temas, :nombre, :id, :nombre, {:prompt => "Tema"}, {:id => "tema_#{resumen.id}", :required => true, :class => 'selects2', :style => 'width: 50%;', :onchange => "return ver_agregar(#{resumen.id})"} %>
										<%# select_tag "Asunto[tema]", grouped_options_for_select({Asunto.all, :temas, :nombre, :id }) %>
										<%# grouped_options_for_select(grouped_options) %>
										
										<%= link_to (""), {:id => "ver_#{resumen.id}", :class => 'btn btn-success btn-mini',:style => 'display: none;', :type => 'submit'} do %>
											<i class="icon-plus icon-white"></i>
										<% end %>
									<% end %>
								</div>
							</div>	
						<% end %><!-- each resumenes  -->
					</li>
				</ul>
			</td></tr>
		</table>
	</div>
<% else %>
	<% if @resumenes_con_tema > 0 %>
		<h3>Se Agregaron todos los resumenes</h3>
	<% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
	function ver_agregar(resumen){
		document.getElementById("ver_"+resumen).style.display="inline-block";
		return false;

	}
	
</script>