<%- model_class = Informe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% if @mensaje %>
	<div class="alert <%= @tipo_alerta %>">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4>Alerta:</h4>
	  <%= @mensaje %>
	</div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_informe_path,
            :class => 'btn btn-primary' %>
<% if @informes.count > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.created_at', :default => t("helpers.created_at") %></th>
      <th style = 'width:560px'>Resumen del informe</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @informes.each do |informe| %>
      <tr>
        <td><%=l informe.created_at %></td>
        <td style = 'text-align:justify;'><%= informe.resumen %></td>
        <td>
					<%= link_to informe_path(informe), {:class => 'btn btn-mini'} do %>
						<i class="icon-trash icon-eye-open"></i>	
					<% end %>

					<%= link_to edit_informe_path(informe), {:class => 'btn btn-mini btn-info'} do %>
						<i class="icon-trash icon-edit"></i>
					<% end %>


					<%= link_to informe_path(informe), {:class => 'btn btn-mini btn-danger', :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }} do %>
						<i class="icon-trash icon-black"></i>
					<% end %>

          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      informe_path(informe),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_informe_path,
            :class => 'btn btn-primary' %>
