<% if (@resumenes_sin_tema.count <= 0 and @resumenes_con_tema.count > 0) %>
	<div class='well'>
		<% @accion = "paso2" %>
		<%= @accion += "/#{@informe.id}" if @informe%>
		<%= link_to "Siguiente", {:action => @accion}, :class => 'btn btn-primary pull-right', :style=>"text-align: right;", :type => "submit"%>
	</div>
<% end %>

<%= render :partial => 'resumenes_con_tema' if @resumenes_con_tema.count > 0 %>
<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>			
	
<!-- Modal de Tema -->
<div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Tema</h3>
  </div>
  <div class="modal-body">
    <%= render 'temas/form' %>
    
  </div>
</div>

<!-- Javascript -->
<script type="text/javascript" charset="utf-8">
	function unir(id){
		// $("#"+id).hide();
		unir_resumenes_ids = $('.unir_resumenes_ids_').text
		$.post("/resumenes/unir?unir_resumenes_ids="+unir_resumenes_ids);
		// $.post("/resumenes/update/"+resumen_id+"?nota_id="+id+">");
		location.reload();
		return false;
	}
	$().button('toggle')
</script>
