<%- model_class = Informe -%>
<div class="page-header">
	<h3><%= controller_name.titleize.singularize %></h3>
  <h3><%="#{t '.title', :default => [:'helpers.titles.paso1', 'New %{model}'], :model => model_class.model_name.human.titleize} - Agrupar por temas" %></h3>
</div>

<% if @resumenes_con_tema.count > 0 %>
	<% if @resumenes_sin_tema.count <= 0  %>
		<div style="text-align: right;">
			
			<%= form_tag :action => 'paso1_guardar' do %>
				<%= hidden_field_tag "informe_id", @informe.id %> 
				<%= submit_tag "Siguiente", :class => 'btn btn-primary'%>
			<% end %>
			<%# link_to "Siguiente", "paso2", :class => 'btn btn-primary', :type => "button"%>
		</div>
	<% end %>
	<%= render :partial => 'resumenes_con_tema'%>
<% end %>
	<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>

  


<div id="tema_nuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Tema</h3>
  </div>
  <div class="modal-body">
    <%= render 'temas/form' %>
    
  </div>
</div>


<script type="text/javascript" charset="utf-8">
	function fusionar(id){
		// $("#"+id).hide();
		fusionar_resumenes_ids = $('.fusionar_resumenes_ids_').text
		$.post("/resumenes/fusionar?fusionar_resumenes_ids="+fusionar_resumenes_ids);
		// $.post("/resumenes/update/"+resumen_id+"?nota_id="+id+">");
		location.reload();
		return false;
	}
	$().button('toggle')
</script>
