<div class="bs-docs-example">
  <table class="table table-striped table-bordered table-hover table-condensed">
	  <tr>
	    <td>
			<p id="notice"><%= notice %></p>
			<p><%= image_tag @candidate.foto, :title => "foto", :class => "img-rounded", :style => 'width: 150px; height:150px;'%></p>
			<p>
		</td>
	    <td>
		<br>
			<p>
			  <b>Name:</b>
			  <%= @candidate.name %>
			</p>

			<p>
			  <b>Organization:</b>
			  <%= @candidate.organizacion.nombre_corto %>
			</p>

			<p>
			  <b>State:</b>
			  <%= @candidate.estado.nombre %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @candidate.description %>
			</p>
			
			<p>
			  <b>Cunas:</b>
			  <%= @cunas.count %>
			</p>
			
			<p>
			  <b>Apariciones:</b>
			  <%= @apariciones.count %>
			</p>
	
	    </td>
	  </tr>
  </table>
</div>


<p>
  <b>Cunas:</b>
  <% @cunas.each do |cuna| %>
	<br>
	<%= cuna.descripcion %>
  <% end %>
  <br>
  <strong><%= "Total Cunas: #{@cunas.count}" %></strong>
</p>


<p>
  <b>Apariciones:</b>
  <% @apariciones.each do |aparicion| %>
  	<br>
	<%= aparicion.descripcion %>
  <% end %>
	<br>
	<strong><%= "Total Apariciones: #{@apariciones.count} | Tiempo Exposición: #{@tiempo} Segundos" %></strong>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
