<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Organization:</b>
  <%= @candidate.organizacion.nombre_corto %>
</p>

<p>
  <b>State:</b>
  <%= @candidate.estado.nombre %>
</p>

<p>
  <b>Description:</b>
  <%= @candidate.description %>
</p>

<p>
  <b>Foto:</b>
  <%= @candidate.foto %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
