<div class ="well">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr><td>
			<%= form_tag url_for(:controller => 'resumenes', :action => 'fusionar'), :method => 'get' do %>
				<%# hidden_field_tag "informe_id", @informe.id %> 
				<div style='text-align:right;'>
					<%= submit_tag "fusionar", {:class => "btn btn-success"} if (action_name=="paso2" and controller_name=="informes")%>
				</div>
				<% @asuntos.each do |asunto| %>

					<% temas = asunto.temas %>
					<% if temas.count > 0 %> 
						</br>
						<dd><em><strong><%= asunto.nombre %></strong></em></dd>
						</br>
						<ul>
							<% temas.each do |tema| %>
								<% resumenes_final = @resumenes.where(:tema_id => tema.id) %>
								<% if resumenes_final.count > 0 %> 
								<li style = 'display:block;'>
									<dd><u><%= tema.nombre %>:</u></dd>
										<% resumenes_final.each_with_index do |resumen, i| %>
											<% if resumen.resumen_id.nil? %>
												<% resumen.orden = i %>
												<%# resumen.save %>
												<%= "id = #{resumen.orden} - #{resumen.id}" %>
												<p>
												
													<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}" %>
												
													<div style = "text-align: right;background-color: #ddd; padding: 5px;">
														<% if (action_name=="paso2" and controller_name=="informes") %>
														
															<span class="label label-success">
																<%= check_box_tag "fusionar_resumenes_ids[]", resumen.id %>
																Fusionar
															</span>
													
														<% end %>
													</div>
												</p>
											<% end %>
										<% end %>
									</li>
								<% end %>	
							<% end %>
						</ul>
					<% end %>
				<% end %>
			<% end %>
		</td></tr>
	</table>
</div>