<div class ="well well-small">
			<% case action_name %>
			<% when "paso2" %>
				<% @controlador = 'resumenes'%>
				<% @proceso = 'unir' %>
			<% when "paso2b" %>
				<% @controlador = 'resumenes'%>
				<% @proceso = 'fusionar' %>
			<% when "paso3" %>
			  <% @controlador = 'resumenes'%>
				<% @proceso = 'ordenar' %>
			<% when "paso4" %>
				<% @controlador = 'informes'%>
				<% @proceso = 'ordenar_temas' %>
			<% when "paso5" %>
				<% @controlador = 'informes'%>
				<% @proceso = 'ordenar_asuntos' %>
			<% end %>
			<%= form_tag url_for(:controller => @controlador, :action => @proceso), :method => 'post' do %>
				<%# hidden_field_tag "informe_id", @informe.id %>
				<%# @informe.id %>
				<%# @informe.resumenes.count %>
				<% if ((action_name=="paso2" or action_name=="paso3" or action_name=="paso2b" or action_name=="paso4" or action_name=="paso5")  and controller_name=="informes") %>
					<div class= 'derecha'>
						<% if action_name=="paso2b" %>
							<%= submit_tag @proceso.humanize, {:class => "btn btn-success", 'data-confirm'=> 'Este proceso es irreversible, ¿Está Seguro?'} %>
						<% else %>
							<%= submit_tag @proceso.humanize, {:class => "btn btn-success"} %>
						<% end %>
					</div>
				<% end %>

				<% if ((@informe)  and controller_name=="informes") %>
					<%= hidden_field_tag :id, @informe.id %>
				<% end %>
				<% @asuntos.each do |asunto| %>
					<% temas = asunto.temas %>

					<% temas = temas.joins(:informes_temas).where('informes_temas.informe_id' => @informe.id).order(:orden) if (@informes_temas and @informe) %>
					<% if temas.count > 0 %>
						
						<div class='asunto_tema_titulo'><u><%= asunto.nombre %></u>
							<% if (controller_name=="informes" and action_name=="paso5") %>
								<% @informe_asunto = asunto.informes_asuntos.where(:informe_id => @informe.id).first %>
								<% @informe_asunto = @informes_asuntos.where(:asunto_id => asunto.id).limit(1).first %>
								
								<span class="label label-success pull-right">
									<%= number_field_tag "orden_asuntos[#{asunto.id}]", (@informe_asunto.orden if @informe_asunto) , :in => 1...@informes_asuntos.count+1, :class => 'span1', :style => 'margin-bottom: 0' %>
								<span>
							<% end %>							
						</div>
							<% @paso4 = "ordenable" if action_name.eql? "paso4"  %>
						<ol class="default vertical well well-small <%= @paso4 %>" >
							<% temas.each do |tema| %>
								<% resumenes_final = @resumenes.where('tema_id = ? AND resumen_id IS NULL', tema.id).order(:orden) %>
								<% if resumenes_final.count > 0 %> 
									<li>
										<div class = 'asunto_tema_titulo'><strong><em><%= tema.nombre %></em></strong>
											<% if (controller_name=="informes" and action_name=="paso4") and  temas.count > 1 %>
												<% @informe_tema = tema.informes_temas.where(:informe_id => @informe.id).first %>
												<span class="label label-success pull-right">
													<%= number_field_tag "orden_temas[#{tema.id}]", (@informe_tema.orden if @informe_tema) , :in => 1...temas.count+1, :class => 'span1', :style => 'margin-bottom: 0' %>
												<span>
											<% end %>
										</div>
											<%# resumenes_final.order("titulo ASC") %>
											<% @paso3 = "ordenable" if action_name.eql? "paso3"  %>
										<ol class="default vertical well well-small <%= @paso3 %>" >
											<% resumenes_final.each_with_index do |resumen, i| %>
												<% if resumen.resumen_id.nil? %>
													<li class="justificar" style="padding: 2px; margin: 2px;">
														<% resumen.orden = i+1 if resumen.orden.nil? %>
														<% if @informe %>
															<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}/#{@informe.id}", @informe.id %>
														<% else %>
															<%= notas_estructuradas resumen, "/#{controller_name}/#{action_name}" %>
														<% end %>
														<% if controller_name=="informes" and (action_name=="paso2" or action_name=="paso2b" or action_name=="paso3") %>
															<% case action_name %>
															<% when "paso2" %>
																<div class = 'pull-right'>
																	<span class="label label-success">
																		<%= check_box_tag "unir_resumenes_ids[]", resumen.id %>
																		<%= @proceso if @proceso %>
																	</span>
																</div>
															<% when "paso2b" %>
																<div class = 'pull-right'>
																	<span class="label label-success">
																		<%= check_box_tag "fusionar_resumenes_ids[]", resumen.id %>
																		<%= @proceso if @proceso %>
																	</span>
																</div>
															<% when "paso3" %>
																<%- if (resumenes_final.count > 1) %>
																	<div class = 'pull-right'>
																		<span class="label label-success">
																			<%= number_field_tag "orden_resumenes[#{resumen.id}]", resumen.orden, :in => 1...resumenes_final.count+1, :class => 'span1', :style => 'margin-bottom: 0' %>
																			<%= @proceso if @proceso %>
																		</span>
																	</div>																		
																<% end %>
															<% end %>
														<% end %>
													</li>
												<% end %>
											<% end %>
										</ol>
									</li>
								<% end %>	
							<% end %>
						</ol>
					<% end %>
				<% end %>
				
			<% end %>
</div>

<form action="save_order.php" method="POST" style="display: none;">
<input name="new_order" value="" type="hidden" />
</form>


<%= javascript_include_tag "jquery-sortable" %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("ol.ordenable").sortable({
		    stop: function(event, ui) {
		        var data = "";

		        $(".ordenable li").each(function(i, el){
		            var p = $(el).text().toLowerCase().replace(" ", "_");
		            data += p+"="+$(el).index()+",";
		        });
						alert(data);

		        $("form > [action='/informes/ordenar_temas']").val(data.slice(0, -1));
		        $("form").submit();
		    }
		}
			);
	});
</script>
