<%- model_class = Resumen -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('Agregar Resumen'),
            {:action => 'paso1'}, :class => 'btn btn-primary', data: { :disable_with => "Por favor espere..." } %>

<%= render :partial => 'filtro_contenido'%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:contenido) %></th>
      <th><%= model_class.human_attribute_name(:vocero_id) %></th>
      <th><%= model_class.human_attribute_name(:tema_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @resumenes.each do |resumen| %>
      <tr class='filtrables'>
        <td><%= resumen.id %></td>
        <td><%= resumen.contenido %></td>
        <td><%= resumen.vocero.nombre if resumen.vocero%></td>
        <td><%= resumen.tema.full_descripcion if resumen.tema %></td>
        <td><%=l resumen.created_at %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_resumen_path,
            :class => 'btn btn-primary' %>
