<p>Total: <b><%= @total_notas %> Notas</b></p>
<%= render :partial => 'panel_website' if action_name.eql? 'paso1' %>

<% display = (action_name.eql? 'paso1') ? 'none' : '' %>
<table class="table-bordered">
	<tr class="info">
			<%- @websites.each_with_index do |website,i| -%>
				<%- contador_notas = website.notas.creadas_hoy %>
				<%- contador_notas = (action_name.eql? 'paso1') ? contador_notas.sin_resumen.count : contador_notas.validas.sin_resumen.count %>
				<% if contador_notas > 0 %>
					<th id="<%= website.nombre %>_titulo" style="display:<%= display %>; background:skyblue;">
						<%= website.nombre %>
						<span class="badge badge-inverse"><%= contador_notas %></span>
					</th>
				<% end %>
			
			<% end %>
	</tr>
	<tr>

		<%- @websites.each_with_index do |website,i| -%>

			<%- @notas = website.notas.creadas_hoy %>
			<%- @notas = (action_name.eql? 'paso1') ? @notas.sin_resumen : @notas.validas.sin_resumen %>

			<% if @notas.count > 0 %>	
				<td id="<%= website.nombre %>" style="display:<%= display %>;">
					<div style="overflow:scroll; height:400px;">
						<table class="table table-condensed table-striped table-hover notas">
							<%- @notas.each do |nota| -%>
								<% @nota = nota %>
									<%= render :partial => 'notas/detalle' %>
							<% end %>
						</table>
					</div>
				</td>
			<% end %>	
		<% end %>
	</tr>
</table>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function(){
	  $("table.notas .row-fluid").click(function(){
			var checkbox = $(this).find(':checkbox');
			checkbox.click();
			if(checkbox.is(':checked')) {  
				$(this).parent().parent().addClass('success');
			}else{
				$(this).parent().parent().removeClass('success');
			}
	   });
	});

	$(".voceros").select2({
		formatResult: format,
		formatSelection: format,
		escapeMarkup: function(m) { return m; }
	});

</script>