<%= form_tag(:action => "#{action_name}_guardar") do %>

<% if action_name == "paso1" %>
	<div class="form-actions" style="text-align: right;">
		<%= submit_tag "Guardar Selección", :id => "submit", :name => "submit", :class => "btn btn-primary", :disabled => false, :disable_with => "Enviando..." %>	
	</div>
<% end %>
<%= text_field_tag "website_activa", session[:website_activa] %>
<div class="control-group">
	<ul id="myTab" class="nav nav-tabs">
	<%- @websites.each_with_index do |website,i| -%>
	 	<li class= "<%=" active" if (website.nombre.eql? session[:website_activa]) %>" style="font-size: 10px;">
			<%= link_to "#{website.descripcion}-#{(website.notas.creadas_hoy).count}", "##{website.nombre}", :data => {:toggle => "tab"}, :onclick => "return set_website_activa('#{website.nombre.to_s}')" %>
	 	</li>
	<%- end -%>
	</ul>
	<div data-spy="scroll" data-target="#myTab" data-offset="0" class="scrollspy-example">
		<div id="myTabContent" class="tab-content">
			<%- @websites.each_with_index do |website,i| -%>
				<%# website.importar_notas_website unless website.carga_reciente? %>
				<% case action_name %>
				<% when "paso1" %>
					<%- @notas = website.notas.creadas_hoy -%>
				<%# when "paso2" %>
					<%# @notas = website.notas.creadas_hoy_sin_resumen -%>
				<% else %>
					<%- @notas = website.notas.creadas_hoy_sin_resumen -%>
				<% end %>
								
				<div class="tab-pane fade<%=" active in" if (website.nombre.eql? session[:website_activa]) %>" id="<%= website.nombre %>">

					<table class="table table-hover">
	        	<thead>
	          	<tr>
		            <th>#</th>
								<th>Publicación</th>
		            <th width="450px;"><%= Resumen.human_attribute_name(:titulo) %></th>
		            <th>Enlace</th>
								<th>Opciones</th>
		          </tr>
		        </thead>
		        <tbody>
							<%- @notas.each_with_index do |nota,j| -%>
			          <div>
									<tr id="<%=nota.id%>">
				            <td><%= j+1 %></td>
										<td>
											<%= nota.fecha_publicacion %>
											<%- unless nota.imagen.blank? -%>
												<%= image_tag nota.imagen, :title => "imagen", :class => "img-rounded", :style => 'max-width: 120px; max-height:120px;'%>
											<% end %>
										</td>
				            <td>
											<strong><%= nota.titulo %></strong>
											<% unless nota.contenido.blank? %>
												<%= link_to "detalle", " ", {:class => 'btn btn-mini', :onclick => "return detalle('#{nota.id}')"} %>
												<div id="contenido_nota<%=nota.id%>", style = "display: none;">
													<%= nota.contenido %>
												</div>
											<% end %>
											
										</td>
				            <td>
											<%= link_to website.descripcion, nota.url, :class => 'btn btn-link btn-mini', :target => '_blank' %></td>
										<%# @agregar = "agregar("+nota.id.to_s+")" %>
				            <td>
											<% case action_name %>
											<% when "paso1" %>
												<%= check_box_tag 'notas_validas_ids[]', nota.id, nota.valida? %>
											<% when "paso3" %>
												<%= link_to (""), {:class => 'btn btn-success btn-mini', :onclick => "return agregar_nota(#{website.nombre}, #{nota.id.to_s},#{@resumen.id.to_s})"} do %>
													<i class="icon-plus icon-white"></i>
												<% end %>
											<% end %>
											
												<%# select_tag "nota_vocero_ids[#{nota.id}]", options_from_collection_for_select(Vocero.order('nombre DESC'), 'id', 'descripcion_completa' ), :class => 'voceros', prompt: "Seleccione..."%>
										</td>
				          </tr>
								</div>
							<% end %>
	        	</tbody>
	      	</table>
				</div> <!-- class="tab-pane fade -->
			<%- end -%>
		</div> <!-- id="myTabContent" -->
	</div> <!-- data-spy="scroll" -->
</div>  <!-- class="bs-docs-example" -->

  
<% end -%>


<script type="text/javascript" charset="utf-8">
	
	function set_website_activa(nombre_website){
		document.getElementById("website_activa").value = nombre_website;
		return false;
		
	}
	
	function format(vocero) {
		return vocero.text;
	}
	$(".voceros").select2({
		formatResult: format,
		formatSelection: format,
		escapeMarkup: function(m) { return m; }
	});


	function detalle(nota_id){
		if ($('#contenido_nota'+nota_id).css("display") == "none") { $('#contenido_nota'+nota_id).show();}
		else{$('#contenido_nota'+nota_id).hide();}
		return false;
	}

	function agregar_nota(nombre_website, nota_id, resumen_id){
		$("#"+nota_id).hide();
		$.post("/notas/update/"+nota_id+"?resumen_id="+resumen_id+"&nombre_website"+nombre_website.id);
		$.post("/resumenes/update/"+resumen_id+"?nota_id="+nota_id);
		$.post("/wizard/actualizar_website_activa?website_activa="+nombre_website.id);
		// this = this+"#"+website_nombre;
		// location.form.reload();
		// $("#main").reload();
		location.reload();

		return false;
	}

	
</script>



